// Upload Btn
.uploadBtn {
  font-weight: 700;
  padding: 10px 15px;
  position: relative;
  display: inline-block;
  color: clr(black, main);
  background-color: clr(light, outline);
  border: 1px solid clr(black, outline);
  border-radius: 6px;
  cursor: pointer;

  input[type="file"] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    cursor: pointer;
  }
}
